[Unit]
Description=custom dns dnshield
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
Environment="GOGC=50"
Environment="GOMEMLIMIT=2MiB"
ExecStart=/usr/bin/dnshield -conf /etc/dnshield-conf.json

[Install]
WantedBy=multi-user.target 
